
@model Projekt_MVC.Models.Car.EditCarViewModel
@{
}

<form method="post" asp-controller="CarList" asp-action="EditCarDetails">


    <div class="form-group">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="ID" readonly value="@Model.ID">
    </div>
    <div class="form-group">
        <label for="make">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="@Model.Name">
        @Html.ValidationMessage("firstname")
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" name="model" placeholder="Model" value="@Model.Model">
    </div>
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" name="year" placeholder="Year" value="@Model.Year">
    </div>
    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" class="form-control" id="color" name="color" placeholder="Color" value="@Model.Color">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Price" value="@Model.Price">
    </div>
    <div class="form-group">
        <label for="mileage">Description</label>
        <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="@Model.Description">
    </div>
    <div class="form-group">
        <label for="mileage">Engine</label>
        <select id="Engine" name="Engine" class="form-control" required asp-items="@Model.Engine"></select>
    </div>
    <div class="form-group">
        <label for="mileage">HorsePower</label>
        <input type="number" class="form-control" id="horsepower" name="horsepower" placeholder="HorsePower" value="@Model.HorsePower">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>