@using Projekt_MVC.Models.Car;
@model Projekt_MVC.Models.Car.CarViewModel
@{
    ViewData["Title"] = "Car Models";
    var l= $"NewTestDrive?CarID=";
}
<style>
    body {
        background-color: #D98179;
    }
</style>
<div>
    <h1 class="display-4 text-center link-dark fw-bold mb-3">Dostępne modele</h1>
    <br />

    <a class="btn btn-primary btn-lg mx-auto d-block w-75 " asp-area="" asp-controller="CarList" asp-action="NewCar" role="button">Dodaj samochód</a>
    <p></p>
    <div>
        
        @foreach(var item in Model.Cars)
         {


            
            <figure class="figure mx-auto d-block">
                <img src="~/assets//black-car-cartoon-style_1308-110877.png" id="autko" class="rounded mx-auto d-block" alt="...">
                

                <h5><figcaption class="figure-caption text-center link-dark">ID: @item.CarID<p></p>Marka: @item.Name  <p></p>    Model: @item.Model <p></p></figcaption></h5>
                <h5><figcaption class="figure-caption text-center link-dark">Moc silnika (KM): @item.HorsePower <p></p> Silnik: @item.Engine <p></p> </figcaption></h5>
                <h5><figcaption class="figure-caption text-center link-dark">Opis: @item.Description <p></p></figcaption></h5>
                <a class="btn btn-primary btn-sm mx-auto d-block w-25" id="delete" asp-controller="CarList" asp-action="DeleteCar" asp-route-id="@item.CarID" role="button">Usuń pojazd</a> <p></p>
                <a class="btn btn-primary btn-sm  mx-auto d-block w-25" id="edit" asp-controller="CarList" asp-action="EditCar" asp-route-id="@item.CarID" role="button">Edytuj pojazd</a>
                <p></p>

                <span><a class="btn btn-primary btn-lg mx-auto d-block w-25" href="@Url.Action("NewTestDrive", "TestDrive",  new { CarID=@item.CarID})">Zarezerwuj Jazdę</a></span>
                <hr>

        </figure>
        <br />
        }
    </div>

 <footer class="border-top footer">
    <div class="text-center">
            Image by brgfx on Freepik
            <br />
            Projekt wykonali: 
            <a href="https://github.com/Nokijoto">Rafał Wątroba</a>
            i
            <a href="https://github.com/kowu0">Remigiusz Wojak</a>
    </div>
</footer>



   
</div>