@model Projekt_MVC.Models.Car.CarViewModel
@{
    ViewData["Title"] = "Car Models";
}
<style>
    body {
        background-color: black;
    }
</style>
<div>
    <h1 class="display-4 text-center link-light">Dostępne modele</h1>
    <br />

    <a class="btn btn-primary btn-lg d-flex justify-content-center w-100" asp-area="" asp-controller="CarList" asp-action="NewCar" role="button">Dodaj samochód</a>
    <p></p>
    <div>

        @foreach (var item in Model.Cars)
        {
            <a class="btn btn-primary btn-sm float-start" asp-controller="CarList" asp-action="DeleteCar" asp-route-id="@item.ID">Delete</a>
            <a class="btn btn-primary btn-sm float-end" asp-controller="CarList" asp-action="EditCar" asp-route-id="@item.ID">Edit</a>
            <figure class="figure mx-auto d-block">
                <img src="https://i.gyazo.com/70b495f0650829dffb7157db64c5ef03.png" class="rounded mx-auto d-block" alt="...">


                <h5><figcaption class="figure-caption text-center link-light">Marka: @item.Name  <p></p>    Model: @item.Model <p></p></figcaption></h5>
                <h5><figcaption class="figure-caption text-center link-light">Moc silnika (KM): @item.HorsePower <p></p> Silnik: @item.Engine <p></p> </figcaption></h5>
                <h5><figcaption class="figure-caption text-center link-light">Opis: @item.Description <p></p></figcaption></h5>
                <button type="button" class="btn btn-primary btn-md mx-auto d-block">Wypożycz</button>

            </figure>
            <br />
        }
    </div>



    @* <table class="table">
    <thead>
    <tr>
    <th scope="row">ID</th>
    <th scope="row">Name</th>
    <th scope="row">Color</th>
    <th scope="row">Description</th>
    <th scope="row">Engine</th>
    <th scope="row">HorsePower<th>
    <th scope="row">Model</th>
    <th scope="row">Price</th>
    <th scope="row">Year</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.Cars)
    {
    <tr>
    <th scope="row">@item.ID</th>
    <th scope="row">@item.Name</th>
    <th scope="row">@item.Color</th>
    <th scope="row">@item.Description</th>
    <th scope="row">@item.Engine</th>
    <th scope="row">@item.HorsePower<th>
    <th scope="row">@item.Model</th>
    <th scope="row">@item.Price</th>
    <th scope="row">@item.Year</th>
    <td>
    <a asp-controller="CarList" asp-action="DeleteCar" asp-route-id="@item.ID">Delete</a>
    <a asp-controller="CarList" asp-action="EditCar" asp-route-id="@item.ID">Edit</a>
    </td>
    </tr>
    }
    </tbody>
    </table>*@



    @*<div class="text-center">
    <a class="btn btn-primary btn-sm text-right" asp-area="" asp-controller="CarList" asp-action="NewCar" role="button">Dodaj samochód</a>
    <a class="btn btn-primary btn-sm text-right" asp-area="" asp-controller="CarList" asp-action="DeleteCar" role="button">Usuń samochód</a>
    <button type="button" class="btn btn-primary btn-sm text-right">Zaktualizuj samochód</button>
    </div>*@
</div>