@model Projekt_MVC.Models.TDriveModel.TestDriveViewModel
@{
    ViewData["Title"] = "TestDrives";
    
}

<style>
    body {
        background-color: #557359;
    }
</style>
<h1 class="display-4 text-center link-dark fw-bold mb-5">Lista jazd testowych</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="row">ID</th>
            <th scope="row">Imie</th>
            <th scope="row">Nazwisko</th>
            <th scope="row">Pesel</th>
            <th scope="row">Data</th>
            <th scope="row">nrTel<th>
            <th scope="row">ID wypożyczonego auta<th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestDrives)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <th scope="row">@item.Imie</th>
                <th scope="row">@item.Nazwisko</th>
                <th scope="row">@item.Pesel</th>
                <th scope="row">@item.Data</th>
                <th scope="row">@item.NrTel<th>
                <th scope="row">@item.CarID</th>
               
                <td>

                    <a class="btn btn-primary btn-sm float-start" id="delete" asp-controller="TestDrive" asp-action="DeleteTestDrive" asp-route-id="@item.ID">Usuń jazdę</a>
                    <a class="btn btn-primary btn-sm float-end" id="edit"  asp-controller="TestDrive" asp-action="EditTestDrive" asp-route-id="@item.ID">Edytuj jazdę</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<footer class="border-top footer">
    <div class="text-center">
        Projekt wykonali:
        <a href="https://github.com/Nokijoto">Rafał Wątroba</a>
        i
        <a href="https://github.com/kowu0">Remigiusz Wojak</a>
    </div>
</footer>